body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.display-none {
    display: none!important;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

#mapContainer {
    width: 100%;
    height: 70%;
}

#map {
    width: 100%;
    height: 100%;
}

#address-overlay,
#cluster-overlay {
    position: absolute;
    top: 100px;
    left: 100px;
}

#address-close {
    cursor: pointer;
}